
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Single+Day&display=swap');

* {
    font-family: 'Grandiflora One', serif;
}
/* 폰트 설정 */

.p1_size1 {
    font-size: xx-small;
}
.p1_size2 {
    font-size: medium;
}
.p1_size3 {
    font-size: xx-large;
}
.p1_size3 {
    font-size: 10px;
}
.p1_size5 {
    /* font-size: 10px; */
    font-size: 1.5em; /* 부모요소(div) 글자크기 기준 */
}
.p1_size6 {
    font-size: 1.5rem; /* 최상위요소(html) 글자크기 기준 */
}
.p1_weight1 {
    font-weight: 100;
}
.p1_weight2 {
    font-weight: 400;
}
.p1_weight3 {
    font-weight: 900;
}