div {
    width: 800px;
    margin: 20px auto;
}

article {
    border: 1px dotted #000;
    width: 350px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-image: url(../img/ggo.jpg);
    background-size: cover;
    float: left;
    font-size: 14px;
}

footer {
    clear: both;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
