/* 헤더 폰트 */
header {
	font-family: 'Gaegu', cursive; 	
}
/* 전체 폰트 */
body {
	font-family: 'Orbit', sans-serif;
}



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

header {
	padding: 0px 10px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background-color: rgb(0, 0, 0);
	color: white;
	position: relative;	
}

header input {
	display: none;
}

header label {
	display: flex;
	width: 35px;
	height: 25px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

header label span {
	width:  100%;
	height: 5px;
	background-color: white;
	border-radius: 10px;
	transition: transform .2s ease-in-out;	
}

header label span:first-child {
	transform-origin: 0% 0%;
}

header label span:last-child {
	transform-origin: 0% 100%;
}

header:has(input:checked) label span:first-child {
	transform: rotateZ(37deg);
}

header:has(input:checked) label span:nth-child(2) {
	transform: scaley(0);
}

header:has(input:checked) label span:last-child {
	transform: rotate(-37deg);
}

header:has(input:checked) ~ nav {
	transform: translateX(0%);
}

nav{
	width: 300px;
	height: 100vh;
	background-color: rgba(0, 0, 0);	
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
	position: absolute;
	z-index: 6;	
}

nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 0px 0px 20px;
	color: white;
	font-size: 25px;
}

nav a {
	color: inherit;
}

.container {
	width: 100%;
	height: 1000px;
	background-image: url(/mini_test/doc/whale.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 150px;
	z-index: 1;	
}

.list_table {
	margin: auto;
	width: 900px;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: rgba(240, 236, 236, 0.1);	
	font-size: 1.7rem;
	color: rgb(255, 255, 255, 0.7);
	border-collapse: collapse;
	/* border-bottom: 0.1px solid white;	 */
}

.detail_table {
	margin: auto;
	width: 900px;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: rgba(240, 236, 236, 0.1);	
	font-size: 1.7rem;
	color: rgb(255, 255, 255, 0.7);
	border-collapse: collapse;	
}

.delete_table {
	margin: auto;
	width: 900px;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: rgba(240, 236, 236, 0.1);	
	font-size: 1.7rem;
	color: rgb(255, 255, 255, 0.7);
	border-collapse: collapse;		
}

.update_table {
	margin: auto;
	width: 900px;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: rgba(240, 236, 236, 0.1);	
	font-size: 1.7rem;
	color: rgb(255, 255, 255, 0.7);
	border-collapse: collapse;		
}

/* caption {
	text-align: center;
	font-size: 1.7rem;
	color: rgb(255, 255, 255, 0.7);
} */

table th, table td {
	border: 0.1px solid rgb(255, 255, 255, 0.7);
}

table th {
	width: 80px;	
	height: 70px;
}

table th:first-child, table td:first-child {
	border-left: 0;
}

table td {
	width: 800px;
	height: 50px;
	text-align: center;
}

table th:last-child, table td:last-child {
	border-right: 0;
}

tr {	
	border-bottom: 0.1px solid rgb(180, 180, 180, 0.5);
}

form {
	margin: 0px 350px;
	color: rgb(255, 255, 255, 0.7);
	font-size: 1.5rem;
}

/* .container1 *, .container2 *{
	vertical-align:middle;
} */

.textarea1 {	
	width: 700px;
	height: 30px;
	padding: 10px;
	background-color: rgba(71, 100, 114, 0.3);
	box-sizing: border-box;
	border: solid transparent;
	border-radius: 10px;	
	resize: none;
	color: rgb(255, 255, 255, 0.7);
	vertical-align:middle;
	border: 0.1px solid rgb(255, 255, 255, 0.7);
}

.textarea2 {	
	width: 700px;
	height: 300px;
	padding: 20px;
	background-color: rgba(71, 100, 114, 0.3);
	box-sizing: border-box;
	border: solid transparent;
	border-radius: 10px;	
	resize: none;
	color: rgb(255, 255, 255, 0.7);
	vertical-align:middle;
	border: 0.1px solid rgb(255, 255, 255, 0.7);
}

.textarea3 {	
	width: 750px;
	height: 30px;
	padding: 10px;
	background-color: rgba(71, 100, 114, 0.3);
	box-sizing: border-box;
	border: solid transparent;
	border-radius: 10px;	
	resize: none;
	color: rgb(255, 255, 255, 0.7);
	vertical-align:middle;
	border: 0.1px solid rgb(255, 255, 255, 0.7);
}

.textarea4 {	
	width: 750px;
	height: 200px;
	padding: 20px;
	background-color: rgba(71, 100, 114, 0.3);
	box-sizing: border-box;
	border: solid transparent;
	border-radius: 10px;	
	resize: none;
	color: rgb(255, 255, 255, 0.7);
	vertical-align:middle;
	border: 0.1px solid rgb(255, 255, 255, 0.7);
}


.container1 {
	margin: auto;
	width: 900px;
	/* text-align: center; */
}

.container2 {
	text-align: center;
}

.container2 button {
	width: 100px;
	height: 30px;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
	color: rgb(255, 255, 255, 0.7);
}

form button {
	width: 100px;
	height: 30px;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
	color: rgb(255, 255, 255, 0.7);
}

.w-btn {
	line-height: 0px;    
    border: none;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: 0.25s;	
}

.w-btn-gray {
    background-color: rgba(71, 100, 114, 0.3);
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.list_num {	
	text-align: center;
}

.list_num a{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	display: inline-block;
	background-color: rgba(71, 100, 114, 0.3);
	border: 1px solid transparent;
	border-radius: 40px;
}	

.list_num a:link{
	text-decoration: none;
	color : #fff
}

.list_num a:visited{
	color: white;
}
.list_num  a:hover {
	color: #fff;
	background-color: #000;
}

.list_num a:active{
	color: #fff;
	background-color: #000;
}
  
.list_num a:before{
	content: '';
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
}

.list_num a:hover:before{
	opacity: 1.0;
}
  
.list_num a, .list_num a:before {
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
} 

.main_num {
	color: rgb(255, 255, 255, 0.7) !important;
	background-color: #000 !important;
}

.main_num1 {
	background-color: rgba(71, 100, 114, 0.3);
}

table a:link {
	color : rgb(255, 255, 255, 0.7);
}

table a:visited {
	color: rgb(255, 255, 255, 0.7);
}
table a:hover {
	color: rgba(7, 28, 39, 0.3);
}
  
table a:before {
	content: '';
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
}
  
table a:hover:before {
	opacity: 1.0;
}
  
table a, table a:before {
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}

footer {
    position: absolute;
    bottom: 0;
	width: 100%;
    background-color: #000;
    padding: 0.75rem;
    text-align: center;
    font-size: 0.75rem;
	color: #ffffff;
	z-index: 1;
}

footer a {
	text-decoration: none;
	color: #fff;
}


.header_a a {
	letter-spacing: 0;
	transition: 0.35s;
  }
  
  .header_a a:hover, .header_a a:active {
	letter-spacing: 5px;
	transition: 0.35s;
  }
  
  .header_a a:after {
	bottom: -10px;
  }
  
  .header_a a:before {
	top: -10px;
  }
  
  .header_a a:after, .header_a a:before {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0);
	content: " ";
	display: block;
	margin: 0 auto;
	position: relative;
	transition: all 280ms ease-in-out;
	width: 0;
  }
  
  .header_a a:hover:after, .header_a a:hover:before {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color: #fff;
	transition: width 350ms ease-in-out;
	width: 100%;
  }
  
  .header_a a:hover:before {
	width: 100%;
  }

.rain eff{
	width: 100%;
	height: 100%;
  min-width: 600px;
	max-width: 800px;
	max-height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.rain{
	position: relative;
	width: 100%;
	height: 100%;
}

.rain:nth-of-type(1){
	--duration: 2.7s;
	--delay: 1s;
	transform: translate(10%, 10%) scale(0.9);
}

.rain:nth-of-type(2){
	--duration: 2.1s;
	--delay: 1.2s;
	transform: translate(-20%, 40%) scale(1.3);
}

.rain:nth-of-type(3){
	--duration: 2.3s;
	--delay: 2s;
	transform: translate(0%, 50%) scale(1.1);
}

.rain:nth-of-type(4){
	--duration: 2s;
	--delay: 4s;
	transform: translate(0%, -10%) scale(1.2);
}

.rain:nth-of-type(5){
	--duration: 2.5s;
	--delay: 0s;
	transform: translate(10%, 0%) scale(0.9);
}

.rain:nth-of-type(6){
	--duration: 2s;
	--delay: 2.7s;
	transform: translate(-20%, 0%) scale(1);
}

.rain:nth-of-type(7){
	--duration: 1.8s;
	--delay: 1.3s;
	transform: translate(20%, -40%) scale(1.2);
}

.rain:nth-of-type(8){
	--duration: 2.2s;
	--delay: 0s;
	transform: translate(20%, 0%) scale(1);
}

.rain:nth-of-type(9){
	--duration: 2s;
	--delay: 0.5s;
	transform: translate(0%, -10%) scale(1.3);
}

.drop{
	background-color: white;
	width: 3px;
	height: 100px;
	position: absolute;
	top: calc(50% - 100px); 
	left: calc(50% - 1.5px);
	animation-name: fall;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
}

@keyframes fall{
	0%{
		transform: translateY(-120vh);
	}
	45%{
		transform: translateY(0%);
		opacity: 1;
	}
	46%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

.waves > div{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 50%;
	border: solid white 3px;
	animation-name: spread;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

.waves > div:nth-child(2){
	animation-delay: calc(var(--delay) + 0.3s);
	animation-timing-function: linear;
}

@keyframes spread{
	0%{
		transform: scale(0);
		opacity: 1;
	}
	40%{
		transform: scale(0);
		opacity: 1;
	}

	100%{
		transform: scale(1);
		opacity: 0;
	}
}


.splash{
	position: absolute;
	top: 10%;
	bottom: 50%;
	left: 35%;
	right: 35%;
	border-radius: 8px;
	clip-path: polygon(7% 100%, 5% 95%, 3% 80%, 11% 50%, 17% 38%, 23% 44%, 30% 53%, 37% 28%, 40% 29%, 45% 43%, 51% 53%, 59% 36%, 64% 22%, 67% 23%, 70% 34%, 72% 46%, 79% 37%, 83% 37%, 93% 61%, 96% 76%, 96% 94%, 94% 100%);
	background-color: white;
	transform-origin: bottom;
	animation-name: splash;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

@keyframes splash{
	0%{
		transform: scale(0.3, 0);
	}

	49%{
		transform: scale(0.3, 0);
	}

	50%{
		transform: scale(0.3, 0.3);
	}

	60%{
		transform: scale(0.7, 1);
	}

	90%{
		transform: scale(1, 0);
	}

	100%{
		transform: scale(1, 0);
	}
}

.particles > div{
	position: absolute;	
	border-radius: 100%;
	background-color: white;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
}

.particles > div:nth-child(1){
	width: 7px;
	height: 7px;
	top: 50%;
	left: 50%;
	animation-name: jumpLeft;
}

.particles > div:nth-child(2){
	width: 5px;
	height: 5px;
	top: 30%;
	left: 50%;
	animation-name: jumpLeft;
	animation-delay: calc(var(--delay) + 0.1s);
}

.particles > div:nth-child(3){
	width: 3px;
	height: 3px;
	top: 20%;
	left: 70%;
	animation-name: jumpRight;
	animation-delay: calc(var(--delay) + 0.15s);
}

.particles > div:nth-child(4){
	width: 5px;
	height: 5px;
	top: 30%;
	left: 50%;
	animation-name: jumpRight;
	animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes jumpLeft{
	0%{
		transform: translate(0,0) scale(0);
	}

	45%{
		transform: translate(0,0) scale(0);
	}

	60%{
		transform: translate(-50px, -90px) scale(1);
	}

	100%{
		transform: translate(-60px, 0px) scale(0.1);
	}
}

@keyframes jumpRight{
	0%{
		transform: translate(0,0) scale(0);
	}

	45%{
		transform: translate(0,0) scale(0);
	}

	60%{
		transform: translate(30px, -80px) scale(1);
	}

	100%{
		transform: translate(50px, 0px) scale(0.1);
	}
}

